@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  background-color: #f5f6fa!important;
}

.dataTable {
  max-height: 280px;
  overflow: auto;
  display: grid;
  font-size: .8rem;
}
.dataTable td {
  padding: .5rem;
}
.dataTable tr {
  display: flex;
  justify-content: space-between;
}

.map {
  height: 500px;
  width: 100%;
  background-color: #FFF;
  padding: 1rem;
  margin-right: 15px;
  border-radius: 20px;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, .5);
}
.map .leaflet-container {
  height: 100%; 
}
.info-flag img {
  width: 100px;
  border-radius: 5px;
}
.info-flag {
  height: 80px;
  width: 100%;
  background-size: cover;
  border-radius: 8px;
}