@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  background-color: #f5f6fa;
}

.dataTable {
  width: auto!important;
  max-height: 300px;
  overflow: auto;
  display: inline-block;
  font-size: .8rem;
  background-color: #fafafa;
}